################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BootstrapMaster/.vs/BootstrapMaster/v15/Server/sqlite3
